{% set navArr = [
        {url: '/', name: 'Best Sellers'},
        {url: '/', name: 'All Products'},
        {url: '/', name: 'Movie'},
        {url: '/', name: 'Poster'},
        {url: '/', name: 'Music'},
        {url: '/', name: 'Game'},
        {url: '/', name: 'Anime'},
        {url: '/', name: 'Sport'},
    ]
%}

{% set topbarMenu = [
        {url: '/', name: 'FAQ'},
        {url: '/', name: 'Ưu đãi'},
        {url: '/', name: 'Chính sách'},
        {url: '/', name: 'Điều khoản sử dụng'},
    ]
%}

<nav id="nav_main">
    <div class="nav_container">
        <div class="navmain_collapse">
            <ul class="navigation_lst">
                {% for i in navArr %}
                    <li class="nav_item"><a class="" href="{{ i.url }}" title="{{ i.name }}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="navigation_lst topbar_menu_mobile">
                {% for i in topbarMenu %}
                    <li class="nav_item"><a class="" href="{{ i.url }}" title="{{ i.name }}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>